/* 
    Outer Styling to inherit.
*/
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #5F586C;
}

/* 
    Navigation
*/
nav {
    width: 100%;
    padding: 0.5em;
    justify-content: center;
    border-top: 0.5em solid #2e1c54;
    border-bottom: thin solid #2e1c54;
    font-size: calc(10px + 1.5vmin);
    margin-bottom: 20px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: #5F586C;
} 

nav .active-nav-item {
    text-decoration: underline;
}

nav li a:hover {
    color: #2e1c54;
}

/* 
    Header
*/

h1 {

    font-weight: lighter;
}

.logo {
    width: 100%;
}

/* 
    Components grand layout
*/

.page-body {
    width: 80%;
}

p {
    text-align: center;
}
.insert-update {
    display: flex;
    justify-content: center;
}

/* 
    Table components styling

    Citation for the following styling:
    Date: 2/15/2022
    Inspired by: Steve Schoger, on designing nice tables
    Source URL: https://twitter.com/steveschoger/status/913062604540653568/photo/1
*/

.list{
    width: 100%;
    margin: 50px 0px;
}

.list-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse; 
}

caption {
    margin: 10px;
}
  
thead {
    background-color: #5F586C;
    border-bottom: 1px solid #5F586C;
    color:#ffffff;
    border-top: 1px solid #5F586C;
}

tr {
    border-bottom: 1px solid #5F586C;
}

th, td {
    padding: 0.3em;
}

.toggle {
    visibility: hidden;
}

tr:hover .toggle {
    visibility: visible;
}

/* 
    Insert components styling
*/
.insert-form, .update-form {
    width: 100%;
}

.insert {
    margin-right: 1em;
    width: 50%;
}
.update {
    width: 50%;
}

form {
    text-align: center;
    border: 1px solid #5F586C;
    border-radius: 10px;
    box-shadow: 0px 2px 23px -3px rgba(0,0,0,0.33);
}

input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #5F586C;
    font-size: 20px;
    text-align: center;
    padding: 0.3em;
    margin: 0.8em;
    width: 70%;
    justify-content: center;
}

.photo-upload {
    width: 44%;
}
.date-joined {
    width: 47%;
}

button {
    padding: 1.5em 3em;
    margin: 1em;
    border-radius: 10px;
    border: 1px solid #5F586C;
    background-color: #fff;
    color:#2e1c54;
    font-weight: bolder;
    font-size: 12px;

}

button:hover {
    text-decoration: underline;
    text-decoration-color: #2e1c54;
    background-color: #5F586C;
    color: #ffffff;
}

/* 
    Update Components styling
*/


