/* 
    Outer Styling to inherit.
*/
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
}

.App-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #5F586C;
}

/* 
    Navigation
*/
nav {
    width: 100%;
    padding: 0.5em;
    justify-content: center;
    border-top: 0.5em solid #2e1c54;
    border-bottom: thin solid #2e1c54;
    font-size: 1.2em;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: #5F586C;
} 

nav .active-nav-item {
    text-decoration: underline;
}

nav li a:hover {
    color: #2e1c54;
}

/* 
    Header
*/

h1 {

    font-weight: lighter;
}

/* 
    Components grand layout
*/

.page-body {
    width: 80%;
}

p {
    text-align: center;
    font-size: 1.5em;
}
.dbms-components {
    display: flex;
    justify-content: center;
}

/* 
    Table components styling

    Citation for the following styling:
    Date: 2/15/2022
    Inspired by: Steve Schoger, on designing nice tables
    Source URL: https://twitter.com/steveschoger/status/913062604540653568/photo/1
*/

.list{
    width: 100%;
    margin: 50px 0px;
}

.list-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse; 
}

caption {
    margin: 10px;
}
  
thead {
    background-color: #5F586C;
    border-bottom: 1px solid #5F586C;
    color:#ffffff;
    border-top: 1px solid #5F586C;
}

tr {
    border-bottom: 1px solid #5F586C;
}

th, td {
    padding: 1em;
}

.toggle {
    visibility: hidden;
}

tr:hover .toggle {
    visibility: visible;
}

tr:hover td {
    background-color: #f8f7f7;
}

/* 
    Insert and Update components styling
*/
.insert, .update, .search {
    width: 30%;
    margin-right: 1.5em;
    border-top: 0.5em solid #5F586C;
    border-bottom: thin solid #5F586C;
    box-shadow: 0px 2px 23px -3px rgba(0,0,0,0.33);
}

form {
    padding-bottom: 3em;
}

.formContents{
    margin:0 auto;
    width: 70%;
}


select, form input[type=file] {
    padding: 0.5em;
    appearance: none;
}

label {
    display: block;
    font-size: 1.3em;
    margin-bottom: 0.2em;
}

input, textarea, select {
    margin-bottom: 1.5em;
}

/*
    Button
*/

button {
    padding: 0.6em 1em;
    border-radius: 10px;
    border: 1px solid #5F586C;
    background-color: #fff;
    color:#2e1c54;
    font-weight: bolder;
    font-size: 1em;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: #2e1c54;
    background-color: #5F586C;
    color: #ffffff;
}
